<html>
<head>
    <title>Configure Service Account For Glean Search Plugin</title>
</head>
<body>
<div style="background: #FFFFFF">
    <table class="jiraform maxWidth">
        <tr>
            <td class="jiraformheader">
                <h3 class="formtitle">Configure Service Account for Glean Search Plugin</h3>
            </td>
        </tr>
    </table>
    <br>
    <form id="scio-search-configure-form-2" method="post" action="${req.contextPath}/secure/ScioSearchServiceAccountAction.jspa">
        <table class="grid" border="0">
            <tr>
                <td align="fieldLabelArea">
                    Service Account User Email:&nbsp;
                </td>
                <td class="fieldValueArea">
                    <input type="text"
                           id="serviceAccountUserEmail"
                           name="serviceAccountUserEmail"
                           value="$textutils.htmlEncode(${serviceAccountUserEmail})"
                           size="60"
                    />
                    <br>
                    <font size="1">Service Account User Email used by Glean Search</font>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="fullyCentered jiraformfooter">
                    <input type="submit" name="Submit" id="Submit" value="Submit&nbsp;&gt;&gt;"
                           accesskey="S"
                           title="Press Ctrl+S to submit form"
                           class="spaced"
                    />
                    <input type="hidden" name="cancelUrl" value="${req.contextPath}/secure/Dashboard.jspa"/>
                    <input type="submit" name="Cancel" id="Cancel" value="Cancel"
                           accesskey="`"
                           title="Press Alt+` to cancel form"
                           class="spaced"
                    />
                </td>
            </tr>
        </table>
    </form>

    #if (${hasErrorMessages})
        <table>
            <tr>
                <td><b>Failed to configure the Service Account</b></td>
            </tr>
            #foreach ($error in $action.getErrorMessages())
                <tr>
                    <td>${error}</td>
                </tr>
            #end
        </table>
    #end
</div>
</body>
</html>