<html>
<head>
    <title>Success!</title>
</head>

<body>

<div style="background: #FFFFFF">
    <table class="jiraform maxWidth">
        <tr>
            <td class="jiraformheader">
                <h3 class="formtitle">Success!</h3>
            </td>
        </tr>
        <tr>
            <td class="jiraformbody">
                The Service Account User Email for the plugin has been changed to $action.getServiceAccountUserEmail().
            </td>
        </tr>
    </table>
    <br>

</body>
</html>
